* {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  margin: 0px;
  padding: 0px;

}

body{
  background-color: #005377;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  position: sticky;
  overflow: hidden;
  z-index: 100;
  top: 0;

}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #1C110A;
  padding: 45px 63px;
  text-decoration: none;
  font-size: 15px;
}

nav ul li a:hover {
  background-color: darkgray;
  height: 20px;

}
.back a{
  text-decoration: underline;
  text-decoration-color:#139A43;
  color: #F1F2F5;
  
}
.back ul li{
  list-style: none;
}


aside{
  width: 10%;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

aside div {
  height: 30%;
  width: 3%;
  background-color: #139A43;
}

.popuplink{
  width: 100px;
  height: 100px;
  background-color: red;
  display: none;
  
}
.content {
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #F1F2F5;
}

.content div {
  flex-direction: column;
  font-size: 30px;
}

.name {
  position: absolute;
  top: 40%;
  left: 35%;
}

.content h1 {
  position: relative;
  bottom: 10%;
  right: 5%;
}

.cirkel {
  width: 10%;
  height: 23%;
  position: relative;
  right: 10%;
  bottom: 25%;
  border-radius: 50%;
  background-color: #005377;
  border-color: #139A43;
  border-style: solid;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drie {
  z-index: 1;
}

/* page about me*/
.options {
  flex-direction: column;
  display: flex;
 align-items: flex-start;
  height: 85vh;
  width: 10%;
 justify-content: center;
}



.options ul li a {
  text-decoration: underline;
  text-decoration-color:#139A43;
  color: #F1F2F5;
 
}

.options ul li  {  
  list-style: none;
  margin: 10px;
  
}

.options li{
  text-decoration: underline;
  text-decoration-color:#139A43;
  color: #F1F2F5;  
}



.blocks{
 display: flex;
 justify-content: space-around;
 align-self: center;
  border-style: solid;
  border-color: crimson;
  height: 85vh;
  width: 60%;
  align-items: center;
  font-size: 10px;
}

.blocks div{
  width: 30%;
  height: 60%;
  border-radius: 3%;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 110%;
  
  
}

.hi div{
  margin-left: 10px;
}
.hi {
  display: none;
  background-color: #f56b15;
 
}
.i{
  display: none;
  background-color: #8d8b8a;
  
}
.l{
  display: none;
  background-color: #6537c8;
 
  
}
/*work pagina*/




.werk{
  width: 80%;
  height:5vh ;
  border-color: crimson;
  border-style: solid;
  display: flex;
  justify-content: space-around;

 
}
.werk ul li {
  text-decoration: underline;
  text-decoration-color:#139A43;
  color: #F1F2F5;
  border-color: rgb(22, 22, 169);
  border-style: solid;
  width: 100px;
  margin-right: 20px;
  display: inline-block;
  
}

.ja{
  width: 100%;
  height: 100%;
  background-color: darkseagreen;
  display: none;
  

  
}.ja2{
  width: 100%;
  height: 100%;
  background-color: rgb(188, 193, 29);
  display: none;
 
}

.zijkant2{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  
}
.pkast{
  display: flex;
  width: 70%;
  height: 100%;
}
.space{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.ja3{
  width: 100%;
  height: 100%;
  background-color: rgb(179, 24, 24);
  display: none;
}.ja4{
  width: 100%;
  height: 100%;
  background-color: rgb(212, 52, 240);
  display: none;
}
.werkblock{
  height: 35vw;
  width: 100%;
  border-color: rgb(23, 187, 94);
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.place{
  flex-direction: column;
  width: 90%;
 display: flex;
 align-self: center;
 align-items: center;
 
}
.albert{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.albert div{
  width: 90%;
  height: 60%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
 
}

.tester{
  display: flex;
  text-align: center;
  margin: 50px;

}
.testspace{
  display: flex;
}

.tester-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}